
body{
    background-color:antiquewhite;
}
h1{
    text-align: center;
}
p{ font-family: roboto,sans-serif;
    font-size:.75rem ;
    font-weight: 500;
    padding: .3125rem .625rem;
    display:inline-block;
    align-self: flex-start;
    margin-bottom: .625rem;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(240 165 90/var(--tw-bg-opacity));
}
a{ 
    display: flex;
   width: 1500px;
padding: 4em;
color: white;
}
section{
    display: flex;
    justify-content: center;
    align-content:center ; gap: 20px;
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
}
.container{
    margin: 5em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.normal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 370px;
    background:linear-gradient(rgba(13, 37, 67, 0.561), rgba(28, 48, 85, 0.19)), url(AdobeStock_69070473-740x400.jpg);
    margin-left : auto;
    border-radius: 5px 5px 5px 16%;
    border: 1px solid;
    border-color: black;
}

.custom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 280px;
    width: 370px;
    background:linear-gradient(rgba(13, 37, 67, 0.561), rgba(23, 40, 72, 0.219)), url(AdobeStock_69070473-740x400.jpg);
    margin-left: auto;
    border-radius: 5px 5px 5px 16%;
    border: 1px solid;  
}


