
body{
    background-color:white ;
}
h1{
    text-align: center;
}
a{
 background-color: orange;
 border-radius: 5px;
 padding:7px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: baseline;gap: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.normal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 370px;
background:url(AdobeStock_69070473-740x400.jpg);
    margin-left : 30px;
    border-radius: 5px 5px 5px 25px ;
  border: 1px solid;
  border-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter: sepia(100%);
        -webkit-filter: sepia(100%);
    
    
}
.custom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 370px;
    background: url(AdobeStock_69070473-740x400.jpg);
    margin-left : 30px;
    border-radius: 5px 5px 5px 25px;
    border: 1px solid;
  border-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit:cover;
    filter: sepia(100%);
        -webkit-filter: sepia(100%);
}


