@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black;
}
li{
    list-style: none;
    
}
header{
    color: black;
    width: 1000px;
}
.navbar{
    background-color: bisque;
    font-size: 1,5em;
    font-family: "Jersey 15";
}
main{
    
    background-color: bisque;
    text-align: center;
}